<div class="form-field form-button"{{#if id}} id="{{id}}"{{/if}}>
<input type="button"
{{#if id}}id="{{id}}-button"{{/if}}
{{#if action}}data-action="{{action}}"{{/if}}
{{#if text}}value="{{text}}"{{/if}}
>
</div>