<nav id="siteNavigation">
  <button type="button" class="menuToggle" title="toggle menu">
    <img src="{{base_url}}/menu-show.svg" alt="show" width="22" height="22" class="show">
    <img src="{{base_url}}/menu-hide.svg" alt="hide" width="22" height="22" class="hide hidden">
  </button>
  <ul class="hidden">
    <li><a href="/">Home</a></li>
  </ul>
</nav>
