<table>
  <caption>Your Information</caption>
<tbody>
  <tr>
    <th>ID</th>
    <td><input type="text" disabled value="{{user.id}}"></td>
  </tr>
  <tr>
    <th>Email Address</th>
    <td><input type="text" disabled value="{{user.email}}"></td>
  </tr>
  <tr>
    <th>Given Name</th>
    <td><input type="text" disabled value="{{user.givenName}}"></td>
  </tr>
  <tr>
    <th>Surname</th>
    <td><input type="text" disabled value="{{user.surname}}"></td>
  </tr>
</tbody>
</table>

<div><button disabled>Logout</button></div>