<article id="sunflower">
  <canvas id="sunflower-canvas" width="580" height="580"></canvas>
  <div id="controls">
  <input id="controlStep" type="range" min="0" max="1" step="any" value="0.3819660113">
  <div class="buttons">
  <img id="controlBegin" src="media-skip-backward.svg" width="48" height="48" alt="beginning" title="move to beginning">
  <img id="controlStart" src="media-playback-start.svg" width="48" height="48" alt="start"     title="start animation">
  <img id="controlPause" src="media-playback-pause.svg" width="48" height="48" alt="pause"     title="pause animation">
  <img id="controlEnd"   src="media-skip-forward.svg"   width="48" height="48" alt="end"       title="move to end">
  </div>
  </div>
</article>
