[Unit]
Description=Website
After=network.target

[Service]
User=user
Group=group
EnvironmentFile=/etc/website.env
WorkingDirectory=/srv/website
ExecStart=/usr/bin/node lib/server.js
Restart=always
RestartSec=500ms
StartLimitInterval=0
SyslogIdentifier=website

[Install]
WantedBy=multi-user.target
